.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 75px;
  justify-content: space-between;
  background-color: white;
  color: black;
  
}

.title {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 1.4rem;
  cursor: pointer;
}

.title:hover {
  color: #3f51b5;
}

.signUp {
  margin-right: 30px;
  cursor: pointer;
}

.signUp:hover {
  color: #3f51b5;
}

.navigate {
  margin-right: 30px;
  cursor: pointer;
}

.navigate-contents {
  display: flex;
  align-items: center;
}

.navigate-contents:hover {
  color: #3f51b5;
}